<div id="course-leftpanel-overlay" class="course-leftpanel-overlay"></div>
<div id="course-leftpanel" class="course-leftpanel">
    <div class="close-outer">
        <div class="menu-text">Menu</div>
        <div class="close-button"></div>
    </div>
    {{#if ShowExitButton}}
        <div class="exit-button" title="Exit">EXIT</div>
    {{/if}}
    {{#if HideGlossaryBtn}} {{else}}
        <div class="glossary-button">
            <img src="resources/image/shell_glossary_icon.svg" alt="Glossary" title="Glossary" />
            <h4>{{{GlossaryBtnText}}}</h4>
        </div>
    {{/if}}
    {{#if ShowResourceBtn}}
        <div class="resource-button">
            <img src="resources/image/shell_resources_icon.svg" alt="" title="Resources" />
            <h4>{{{ResourceBtnText}}}</h4>
        </div>
    {{/if}}
    {{#if help}}
        {{#if help.show}}
            {{!-- <div class="help-button" title="{{help.tooltip}}"><img src="{{help.icon}}" onload="SVGInject(this)" /></div> --}}
            <div class="help-button">
                <img src="resources/image/shell_help_icon.svg" alt=""  title="Help" />
                <h4>{{{HelpBtnText}}}</h4>
            </div>
        {{/if}}
    {{/if}}

    {{#if copyright}}
        {{#if copyright.show}}
            {{!-- <div class="help-button" title="{{help.tooltip}}"><img src="{{help.icon}}" onload="SVGInject(this)" /></div> --}}
            <div class="copyright-button">
                <img src="resources/image/shell_help_icon.svg" alt=""  title="{{copyright.tooltip}}" />
                <h4>{{{copyrightBtnText}}}</h4>
            </div>
        {{/if}}
    {{/if}}


    {{#if HideIndexBtn}} {{else}}
        <div class="index-button">
            <img src="resources/image/index-button-icon.png" alt="" />
            <h4>{{{IndexBtnText}}}</h4>
        </div>
    {{/if}}
</div>

{{!-- <div id="course-header" class="course-header{{#if ShowExitButton}} show-exit{{/if}}">
    <div class="logo"><img src="resources/image/{{logo}}" onload="SVGInject(this)" /></div>
    <div class="title text-ellipsis">
        <p>{{{title}}}</p>
    </div>


</div> --}}
{{#if carousel.hasCarousel}}
    <div id="carousel-container" class="carousel-container"></div>
{{/if}}
</div>
<div id="course-body" class="course-body"></div>
{{#if ShowLauncher}}
    <div class="launch-holder">
        <div class="launch-title">
            <div class="logo"><img src="resources/image/{{logo}}" onload="SVGInject(this)" /></div>
            <div class='course-title'>{{{title}}}</div>
        </div>
        <div class='launch-button'>Launch</div>
    </div>
{{/if}}