
<div class="right-content">
    <span>{{id}}</span>
    <span class="item-complete" {{#if kccomplete}}{{else}} style="display:none" {{/if}}></span>
    {{!-- <div class="item-index">Question {{srNumbar}} | {{total}} Questionssss</div> --}}
    {{!-- <div class="item-title">{{quesDescription}}</div> --}}
</div>
