<div class="close-outer">

    <div class="close-button"></div>
</div>
<div class="playlist-left-right">
    <div class="playlist-inner">
        <div class="playlist-title">{{chapters}}</div>
        <div class="playlist-list"></div>
    </div>
    {{!-- <div class="questionlist-inner"></div> --}}
    <div class="knowledge-check-list-inner">
        <div class="knowledge-checklist-title">{{questions}}</div>
        <div class="knowledge-checklist-list"></div>
    </div>
    <div class="speaker-container">
         <div class="speakers-title">{{Speakers.title}}</div>
        {{#each Speakers.persons}}
            <a href="{{this.linkdinUrl}}" target="_blank" class="person-link">
                <div class="person">
                    <div class="photo">
                        <img src="{{this.personImg}}" alt="Profile Photo" title="profile" />
                    </div>
                    <div class="info">
                        <div class="name">{{this.personName}}</div>
                        <div class="post">{{this.designation}}</div>
                        <div class="linkdin">
                            <img src="resources/image/linkedin.svg" alt="LinkedIn" title="LinkedIn" />
                        </div>
                    </div>
                </div>
            </a>
        {{/each}}

    </div>
</div>

<div class="playlist-buttons">

</div>