<div class="left-content">
    <img src="{{thumbnail}}" class="vid-thumbnail">
    {{#if duration}}
        <div class="duration">{{duration}}</div>
    {{/if}}
</div>
<div class="right-content">
    <div class="item-complete" {{#if complete}}{{else}} style="display:none" {{/if}}><span class="complete-status-text">Completed</span><span class="complete-status-icon"></span></div>
    <div class="item-inpogress" {{#if inprogress}}{{else}} style="display:none" {{/if}}><span class="inpro-status-text">In Progress</span><span class="inpro-status-icon"></span></div>
    <div class="item-index">{{srNumbar}}</div>
    <div class="item-title">{{TitleEllipses}}</div>
</div>
<div class="audio-player-container" id="audio-player-container">
    <div class="audio-player-template">
        {{!-- <div class="audio-container">
            <audio id="{{audioid}}" class="video-js vjs-default-skin vjs-big-play-centered" oncontextmenu="return false" data-setup='{"inactivityTimeout":0,"controls":true,"textTrackSettings: false,html5":{"nativeTextTracks":false},"controlBar":{"progressControl":{"seekBar":false},"muteToggle":false,"fullscreenToggle":false,"volumeMenuButton":{"inline":false,"vertical":true}}}' playsinline>
                <source src="{{options.src}}" type="video/mp4" />
                <p class="vjs-no-js">{{{messages.nosupport}}}</p>
            </audio>
        </div> --}}
        <!-- Custom Player Controls -->
        <div class="controls">
            <div class="track_inner_btn">
                <button class="transcript_btn"></button>
                <button class="refresh"></button>
                <button class="back_chapt_btn"></button>
                <button class="play-pause play"></button>
                <button class="next_chapt_btn"></button>
                <button class="cc_text_btn captions-disabled"></button>
                <button class="audio_on_off audio_on"></button>
                <div class="bottomNav_audioSpeed" id="bottomNav_audioSpeed">
                    <button id="navigatorAudioSpeedBtn" class="navigatorAudioSpeedBtn">1x</button>
                    <div class="audioSpeedContent">
                    </div>
                </div>
            </div>
            <div class="cc_text_main" style="display: none;">
                <div class="cc_text_inner" id="cc_text_inner"></div>
            </div>
        </div>

            {{!-- <div class="pie">
                <div id="bottomNav_pause" class="audioIcon play">
                    <a id="navigatorPlayPauseBtn" class="navHighlight" title=""><span
                            class="tooltipText">Play</span></a>
                </div>
                <div id="bottomNav_replay" class="replay audioIcon hideElement">
                    <a id="navigatorReplayBtn" class="navHighlight" title=""></a>
                </div>
            </div> --}}
            <div class="play_pause_btn">
            <span class="current-time">00:00</span> /
            <span class="total-time">00:00</span>
            </div>
            <input type="range" class="custom-range progress-bar" value="0" step="1" min="0" max="100" />





        </div>
    </div>
</div>