<div class="close-outer">
    <div class="close-button"></div>
</div>

<div class="playlist-inner"></div>
<div class="questionlist-inner"></div>
{{#ifCond HideIndexBtn '&&' HideGlossaryBtn}} {{else}}
        <div class="playlist-buttons">
            {{#if HideIndexBtn}} {{else}}
                <div class="index-button">
                    <img src="resources/image/index-button-icon.png" alt="" />
                    <h4>{{{IndexBtnText}}}</h4>
                </div>
            {{/if}}
            {{#if ShowResourceBtn}}
                <div class="resource-button">
                    <img src="resources/image/index-button-icon.png" alt="" />
                    <h4>{{{ResourceBtnText}}}</h4>
                </div>
            {{/if}}
            {{#if HideGlossaryBtn}} {{else}}
                <div class="glossary-button">
                    <img src="resources/image/glossary-button-icon.png" alt="" />
                    <h4>{{{GlossaryBtnText}}}</h4>
                </div>
            {{/if}}
        </div>
{{/ifCond}}