<div class="question-cont">
    <div class="question-no">{{{questionNo}}}.</div>
    <div class="question-text">{{{question}}}</div>
</div>
<div class="instruction">{{{instruction}}}</div>
<div class="options-outer">
    {{#each options}}
        <div class="option">
            <input type="radio" class="mcss-option" id="mcss-{{../id}}{{@index}}" name="mcss-option-{{../id}}"
                value="{{text}}">
            <label for="mcss-{{../id}}{{@index}}">{{text}}</label>
        </div>
    {{/each}}
</div>