<div class="knowledge-check">
    <div class="knowledge-check-header">
        <div class="knowledge-check-number"><span class="kc-num-1">{{current.index}}</span>/<span class="kc-num-2">{{{current.total}}}</span></div>
        <div class="knowledge-check-text index">Knowledge check</div>
    </div>
    <div class="knowledge-check-que-cont">
        <div class="knowledge-check-left">
            <div class="question-container">
                {{!--
                <div class="index">{{current.idx}}</div> --}}
                {{!-- <div class="index">Q.</div> --}}
                <div class="question-text">{{{current.question}}}</div>
            </div>
            <div class="question-data">
                <div class="instruction">{{{current.instruction}}}</div>
                <div class="options">
                    {{#each current.options}}
                        <div class="option">
                            <input type="{{../current.inputtype}}" class="kc-option" name="kc-option" id="{{id}}" value={{id}}>
                            <label for="{{id}}">{{{text}}}</label>
                        </div>
                    {{/each}}
                </div>
                <div class="btn-container">
                    <button class="ck-submit-btn disabled" disabled>{{current.submit}}</button>
                    <div class="btn_back_next_cont">
                        <button class="ck-next-btn disabled" disabled>{{current.next}}</button>
                        <button class="ck-back-btn disabled" disabled>{{current.back}}</button>
                    </div>
                    <button class="ck-close-btn disabled" disabled></button>
                </div>
            </div>
        </div>
        <div class="knowledge-check-right"></div>
    </div>
</div>
<div class="feedback-container">
    <div class="feedback">
        <div class="title">{{current.feedback.title}}</div>
        <hr>
        <div class="content"></div>
        <button class="ck-close-btn"></button>
        <div class="btn-container">
            <button class="ck-continue-btn">{{current.continue}}</button>
            <button class="ck-try-again-btn">{{current.tryagain}}</button>

        </div>
    </div>
</div>